@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #09080c;
}

.App__layout {
  width: 1440px;
  background-color: #09080c;
  margin: auto;
}

.App__content {
  height: 100vh;
  background-color: #09080c;
}

.App__header {
  background-color: #09080c;
  margin: 20px 0 80px 0;
}

.App__menu {
  color: #ffffff;
  background-color: #09080c;
  border: none;
}

.App__menu-item {
  font-size: 16px;
  font-weight: 500;
  color: #a6a0bb;
}

.App__menu-item a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff !important;
}


.ant-menu-item-selected {
  color: #ffffff !important;
  font-weight: 700;
}

.ant-menu-item-selected::after {
  border-bottom: 2px solid #ffffff !important;
}