.Navbar ul li {
  display: inline;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.Navbar ul li a {
  color: #a6a0bb;
  padding: 8px 16px;
  display: inline-block;
  margin-right: 16px;
  transition: color 0.5s ease;
}

.Navbar ul li a.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
