.SwapInput__label {
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 4px;
}

.SwapInput__amount input {
  background-color: #131118;
  color: #a6a0bb;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  padding: 0;
  margin-bottom: 4px;
}

.SwapInput__balance {
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  color: #a6a0bb;
}