.SwapSelectTokenModalRow {
  color: #ffffff;
  background-color: #1c1924;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.SwapSelectTokenModalRow__icon {
  width: 40px;
  height: 40px;
}

.SwapSelectTokenModalRow__name {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.SwapSelectTokenModalRow__amount {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
}
