.Swap__wrapper {
  width: 464px;
  background-color: #131118;
  border-radius: 8px;
  padding: 24px 24px 32px 24px;
}

.Swap__heading {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-bottom: 24px;
}

.Swap__setting {
  color: #ffffff;
  font-size: 24px;
  float: right;
  cursor: pointer;
}

.Swap__switch {
  cursor: pointer;
}
