.SwapTokenInput {
  cursor: pointer;
}

.SwapTokenInput__close {
  margin-right: 16px;
  cursor: pointer;
}

.SwapTokenInput__icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 8px;
}

.SwapTokenInput__symbol {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.SwapTokenInput__caret {
  margin: 8px 0 0 8px;
  cursor: pointer;
}
